<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{fragments/head :: head(${page})}"></th:block>
  <body>
    <th:block th:replace="fragments/header :: header"></th:block>

    <main class="content-page">
      <div class="container">
        <h1>[[${page.substring(0,1).toUpperCase + page.substring(1)}]]</h1>

        <!-- SEARCH -->
        <!-- games -->
        <th:block th:if="${page} == games">
          <form th:action="@{/games/search}" method="get">
            <!-- <label for="name">Cerca: </label> -->
            <input type="text" name="name" placeholder="Search..." />
            <button type="submit" class="btn btn-secondary">Cerca</button>
          </form>
        </th:block>
        <!-- movies -->
        <th:block th:if="${page} == movies">
          <form th:action="@{/movies/search}" method="get">
            <!-- <label for="title">Cerca: </label> -->
            <input type="text" name="title" placeholder="Search..." />
            <button type="submit" class="btn btn-secondary">Cerca</button>
          </form>
        </th:block>
        <!-- songs -->
        <th:block th:if="${page} == songs">
          <form th:action="@{/songs/search}" method="get">
            <!-- <label for="name">Cerca: </label> -->
            <input type="text" name="name" placeholder="Search..." />
            <button type="submit" class="btn btn-secondary">Cerca</button>
          </form>
        </th:block>
        <!-- books -->
        <th:block th:if="${page} == books">
          <form th:action="@{/books/search}" method="get">
            <!-- <label for="title">Cerca: </label> -->
            <input type="text" name="title" placeholder="Search..." />
            <button type="submit" class="btn btn-secondary">Cerca</button>
          </form>
        </th:block>

        <h2 class="mt-5">
          List of [[${page.substring(0,1).toUpperCase() + page.substring(1)}]]:
        </h2>

        <div class="card-container">
          <!-- CARD -->
          <!-- games -->
          <th:block th:if="${games}">
            <th:block th:each="game : ${games}">
              <th:block
                th:replace="~{fragments/card :: card(item=${game}, page=${page})}"
              ></th:block>
            </th:block>
          </th:block>

          <!-- movies -->
          <th:block th:if="${movies}">
            <th:block th:each="movie : ${movies}">
              <th:block
                th:replace="~{fragments/card :: card(item=${movie}, page=${page})}"
              ></th:block>
            </th:block>
          </th:block>

          <!-- songs -->
          <th:block th:if="${songs}">
            <th:block th:each="song : ${songs}">
              <th:block
                th:replace="~{fragments/card :: card(item=${song}, page=${page})}"
              ></th:block>
            </th:block>
          </th:block>

          <!-- books -->
          <th:block th:if="${books}">
            <th:block th:each="book : ${books}">
              <th:block
                th:replace="~{fragments/card :: card(item=${book}, page=${page})}"
              ></th:block>
            </th:block>
          </th:block>
        </div>
      </div>

      <!-- store -->
      <a
        sec:authorize="hasAuthority('ADMIN')"
        th:href="@{/games/create}"
        th:if="${page == 'games'}"
        class="new-game-btn"
      >
        <button type="button" class="btn btn-dark">Aggiungi gioco</button>
      </a>

      <!-- delete -->

      <!-- modal confirm delete -->
      <div
        class="confirm-delete-modal d-none"
        sec:authorize="hasAuthority('ADMIN')"
      >
        <div class="modal-delete-content">
          <h2 id="id-game"></h2>
          <hr />
          <p>Sicuro di voler eliminare questo gioco?</p>
          <div class="modal-btn-container">
            <button
              class="btn btn-secondary p-1"
              onclick="document.querySelector('.confirm-delete-modal').classList.toggle('d-none') && (document.body.style.overflow = 'auto')"
            >
              Annulla
            </button>
            <button class="confirm-delete-btn btn btn-danger p-1">
              Elimina
            </button>
          </div>
        </div>
      </div>

      <!-- trash btn -->
      <div
        th:if="${page == 'games'}"
        sec:authorize="hasAuthority('ADMIN')"
        id="trash-bin"
        class="trash-dropzone"
        onclick="infoTrashBinHandler()"
      >
        <div class="info-trash-bin d-none">
          <p>Trascina nel cestino l'elemento da eliminare</p>
        </div>
        <img th:src="@{/img/trash-icon.webp}" alt="Trash" />
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
  </body>
</html>

<!-- ! SCRIPT -->
<!-- * draggable section -->
<script th:inline="javascript">
  let draggedCardId = null;
  let draggedCardName = null;

  document.querySelectorAll(".card-link").forEach((card) => {
    card.addEventListener("dragstart", (event) => {
      draggedCardId = event.currentTarget.dataset.id;
      draggedCardName = event.currentTarget.dataset.name;
      console.log("dragstart: ", draggedCardId);
      event.dataTransfer.setData("text/plain", draggedCardId);
    });
  });

  <!-- ? touchscreen detector -->

  if (
    "ontouchstart" in window ||
    navigator.maxTouchPoints > 0 ||
    navigator.msMaxTouchPoints > 0
  ) {
    document.getElementById("trash-bin").style.display = "none";
  }

  // handler item dropped
  const trashBin = document.getElementById("trash-bin");

  trashBin.addEventListener("dragover", (event) => {
    event.preventDefault();
  });

  trashBin.addEventListener("drop", (event) => {
    event.preventDefault();
    const cardId = event.dataTransfer.getData("text/plain");
    const card = document.querySelector(`.card-link[data-id="${cardId}"]`);

    if (card) {
      document.getElementById("id-game").innerText = draggedCardName;
      document
        .querySelector(".confirm-delete-modal")
        .classList.toggle("d-none");
      document.body.style.overflow = "hidden";
    }

    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });

  // handler confirm btn delete
  const confirmDeleteModal = document.querySelector(".confirm-delete-btn");

  confirmDeleteModal.addEventListener("click", (event) => {
    event.preventDefault();
    const cardId = draggedCardId;
    const card = document.querySelector(`.card-link[data-id="${cardId}"]`);

    if (card) {
      card.remove();

      fetch(`/games/delete/${cardId}`, {
        method: "POST",
      })
        .then((response) => {
          if (response.ok) {
            console.log("Card deleted successfully");
          } else {
            console.error("Error deleting card");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }

    document.querySelector(".confirm-delete-modal").classList.toggle("d-none");
    document.body.style.overflow = "auto";
  });

  // Info trash bin
  const infoTrashBin = document.querySelector(".info-trash-bin");
  const infoTrashBinHandler = () => {
    infoTrashBin.classList.toggle("d-none");
    setTimeout(() => {
      infoTrashBin.classList.add("d-none");
    }, 2000);
  };
</script>
