<!DOCTYPE html>
<html lang="en">
  <th:block th:replace="~{fragments/head :: head(${page})}"></th:block>
  <body>
    <th:block th:replace="fragments/header :: header"></th:block>


    <main class="create-update">
      <div class="container">
        <h1 th:if="${create == true}">Nuovo gioco</h1>
        <h1 th:unless="${create == true}">Modifica gioco</h1>

        <form
          id="game-form"
          method="post"
          th:object="${game}"
          th:action="${create} == true ? @{/games/create} : @{/games/edit/{id}(id=${game.id})}"
        >
          <input type="hidden" value="${game}" />

          <!-- * name -->
          <div class="input-name input-form">
            <label for="name">Nome del gioco: </label>
            <input type="text" id="name" th:field="*{name}" placeholder="Nome..." />

            <div th:if="${#fields.hasErrors('name')}" class="error">
              <ul>
                <li
                  th:each="error : ${#fields.errors('name')}"
                  th:text="${error}"
                ></li>
              </ul>
            </div>
          </div>

          <!-- * image -->
          <div class="input-image input-form">
            <label for="image">Immagine di copertina: </label>
            <input type="text" id="image" th:field="*{image}" placeholder="Immagine..." />

            <div th:if="${#fields.hasErrors('image')}" class="error">
              <ul>
                <li
                  th:each="error : ${#fields.errors('image')}"
                  th:text="${error}"
                ></li>
              </ul>
            </div>
          </div>

          <!-- * genre -->
          <div class="input-genre input-form">
            <label for="genre">Genere: </label>
            <input type="text" id="genre" th:field="*{genre}" placeholder="Genere..." />

            <div th:if="${#fields.hasErrors('genre')}" class="error">
              <ul>
                <li
                  th:each="error : ${#fields.errors('genre')}"
                  th:text="${error}"
                ></li>
              </ul>
            </div>
          </div>

          <!-- * platforms -->
          <div class="input-platform input-form">
            <p>Piattaforme disponibili:</p>
              <th:block th:each="platform : ${platforms}">
                  <input type="checkbox" th:id="|platform-${platform.id}|" th:field="${game.platforms}" th:value="${platform.id}" >
                  <label for="|platform-${platform.id}|">[[${platform}]] </label>
            </th:block>
          </div>

          <!-- * description -->
          <div class="input-description input-form">
            <label for="description">Descrizione: </label>
            <textarea type="text" id="description" th:field="*{description}" placeholder="Descrizione..." />

            <div th:if="${#fields.hasErrors('description')}" class="error">
              <ul>
                <li
                  th:each="error : ${#fields.errors('description')}"
                  th:text="${error}"
                ></li>
              </ul>
            </div>
          </div>

          <button type="submit" class="btn btn-outline-secondary mb-5">Conferma</button>
        </form>
        
        <a th:href="@{/games}" class="back-btn">
         <img th:src="@{/img/back-btn.png}" alt="">
        </a>
      </div>

    </main>
  </body>
</html>
