<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{fragments/head :: head(${page})}"></th:block>

  <body>
    <div class="background-login-img-container">
      <div class="login-container">
        <h2 class="text-center">Login</h2>
        <form th:action="@{/login}" method="post" autocomplete="off">
          <div>
            <label class="form-label mt-2">Username:</label>
            <input type="text" name="username" class="form-control" />
          </div>
          <div>
            <label class="form-label mt-2">Password:</label>
            <input type="password" name="password" class="form-control" />
          </div>
          <div th:if="${param.error}">
            <p class="error credential-error">Credenziali non valide.</p>
          </div>
          <div>
            <button type="submit" class="btn btn-primary mt-3">Login</button>
          </div>
          <div th:if="${param.logout}">
            <p class="message mt-3">Logout effettuato con successo.</p>
          </div>
        </form>
      </div>

      <a th:href="@{/}" class="btn login-back-btn">Home</a>
    </div>
  </body>
</html>
